.image-message .message-bubble {
    max-width: fit-content;
    padding: 8px 6px 6px 6px;
}


.message-image {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: auto;
    max-width: 100%;
    border-radius: 8px;
    display: block;
}

/* Disable long-press menu on images */
.message-image {
    -webkit-touch-callout: none;
}
